.job-card, .job {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #fafafa;
}

.job-card :hover{
    cursor: pointer;
}

.link {
  text-decoration: none; /* ხაზი ქვეშ არ იყოს */
  color: inherit; /* შეინარჩუნოს ჩვეულებრივი ტექსტის ფერი */
  
}

.link:hover {
  text-decoration: none;
}
.job-details-container{
  padding: 1rem;
}

.delete-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(255, 77, 79, 0.2);
}

.delete-button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}

.delete-button:active {
  transform: scale(0.97);
}


  @media  (max-width: 768px) {
    .job-card, .job {

     border-radius: 0px;

    }
  }