.publication-container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.select {
    width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background: #fff;
}


.job-form input,
.job-form select,
.job-form textarea
 {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background: #fff;
}

.job-form button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #2b6cb0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.job-form button:hover {
  background-color: #2c5282;
}
